*{
    margin: 0;
    padding: 0;
}
h1,h2{
    align-items: center;
    text-transform: uppercase;
    color: #FDB927 ;
    padding: 10px;
}
.login{
    margin-top: 20px;
    margin-left: 60px;
    padding: 10px;
   
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 196, 0, 0.6);
    width: 40%;
    color: white;
    border-radius: 5px 5px;
    box-shadow: 5px 5px 15px #552583;
  
}
label{
    color: white;
    padding: 5px;
    text-transform: uppercase;
}
input{
    margin: 5px;
    padding: 5px;
}
.enviar{
    margin: 10px;
}
.botones{
    display: flex;
    flex-direction: row;
    padding: 10px;
}
main{
    margin-left: 40px;
    margin-top: 100px;
}
p{
    color: white;
}