footer {
    margin-top: 60px;
    background-color: #552583; /* morado Lakers */
    color: #FDB927;            /* dorado Lakers */
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.5); /* sombra hacia arriba */
    font-weight: bold;
    z-index: 10; /* sobre la imagen */
    position: relative;
}


footer a {
    color: #FDB927;  /* enlaces dorados */
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
}

footer a:hover {
    color: #ffffff; /* cambia a blanco al pasar el mouse */
}
@media (max-width: 768px) {
    footer {
      padding: 15px 10px;
      font-size: 0.9rem;
    }
  
    footer a {
      margin: 0 6px;
      font-size: 0.9rem;
    }
  
    /* Logo */
    img {
      width: 80px;
      height: 120px;
    }
  }
  
  /* Móviles (≤ 480px) */
  @media (max-width: 480px) {
    footer {
      font-size: 0.8rem;
      padding: 12px 8px;
    }
  
    footer a {
      margin: 0 5px;
      font-size: 0.8rem;
    }
  
    /* Logo */
    img {
      width: 70px;
      height: 100px;
    }
  }