body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  background-image: url('/src/assets/desktop-wallpaper-kobe-bryant-home-screen.jpg'); /* usa la ruta correcta */
  background-position: center center; /* centrada */
  background-repeat: no-repeat;      /* que no se repita */
  background-size: contain;          /* que la imagen se vea completa */
  background-attachment: fixed;      /* efecto fijo al scrollear */
  background-color: black;           /* relleno donde no llegue la imagen */
}
header, footer {
    z-index: 10; /* sobre la imagen */
    position: relative;
}